.vs/DinnerAndLove.Client/v14/.suo
.vs/DinnerAndLove.Client/v14/vbcs.cache/edb.chk
.vs/DinnerAndLove.Client/v14/vbcs.cache/edb.log
.vs/DinnerAndLove.Client/v14/vbcs.cache/edb00001.log
.vs/DinnerAndLove.Client/v14/vbcs.cache/edbres00001.jrs
.vs/DinnerAndLove.Client/v14/vbcs.cache/edbres00002.jrs
.vs/DinnerAndLove.Client/v14/vbcs.cache/storage.ide
DinnerAndLove.Client.Console/obj/
DinnerAndLove.Client.Wpf/obj/
DinnerAndLove.Client.Model/obj/
DinnerAndLove.Client.Console/bin/
DinnerAndLove.Client.Wpf/bin/
DinnerAndLove.Client.Model/bin/
DinnerAndLove.Client.Service/bin/
DinnerAndLove.Client.Service/obj/
