.vs/DinnerAndLove.Client/v14/.suo
.vs/DinnerAndLove.Client/v14/vbcs.cache/edb.chk
.vs/DinnerAndLove.Client/v14/vbcs.cache/edb.log
.vs/DinnerAndLove.Client/v14/vbcs.cache/edb00001.log
.vs/DinnerAndLove.Client/v14/vbcs.cache/edbres00001.jrs
.vs/DinnerAndLove.Client/v14/vbcs.cache/edbres00002.jrs
.vs/DinnerAndLove.Client/v14/vbcs.cache/storage.ide
